doctype html
html
    head
        block header
        script(src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js")
        script
            include js/html.js
    body
        block content
