extends html

block header
    title Crypto Coin Life - Play

block content
    script(id="vertexShader" type="x-shader/x-vertex")
        include shaders/vertex.glsl
    script(id="fragmentShader" type="x-shader/x-fragment")
        include shaders/fragment.glsl

    script
        include js/play/model.js
    script
        include js/play/view.js
    script
        include js/play/view/source.js
    script
        include js/play/view/matter.js
    script
        include js/play/controller.js
    script
        include js/play.js
