extends html

block header
    title Crypto Coin Life - Play

block content
    script
        include js/play/model.js
    script
        include js/play/view.js
    script
        include js/play/controller.js
    script
        include js/play.js
    div(id="viewport")
