extends html

block header
    title Crypto Coin Life - Support
    link(rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css")

block content
    script
        include js/support.js
