extends html

block header
    title Crypto Coin Life - Support

block content
    script
        include js/support.js
        

// Modernizr.load( {
//     test: Modernizr.websockets && Modernizr.webgl && WebglDetector.webgl, 
//     nope: 'support.js',
//     yep: [ '//cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.min.js',
//           '//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js',
//           'engine.js' ]
// } );